@import "style.scss";
.sucess {
  text-align: center;
  color: #4bb543;
}
.fail {
  text-align: center;
  color: #fc100d;
}
.content-container {
  .dark {
    &:hover {
      border: 1px solid $dark-color;
      background-color: $light-color;
      color: $dark-color;
    }
  }
}

.input-group {
  margin: 25px 0;
  display: flex;
  flex-direction: column;

  input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #464646;
    max-width: 450px;
    color: $dark-color;

    &:focus {
      outline: none;
      caret-color: $dark-color;
    }
  }
}
.left- nav {
  background-color: $dark-color;
  display: flex;
  justify-content: space-between;
  padding: $standard-padding;
  .logo {
    .light-font {
      color: $dark-color;
      font-weight: $bold;
    }
  }
}
.nav-link {
  .btn {
    background-color: $light-color;
    border: 1px solid $dark-color;
    color: $dark-color;
    &:hover {
      background-color: transparent;

      border: 1px solid $light-color;
      color: $light-color;
    }
  }
}
nav {
  background-color: $dark-color;
}
@media only screen and(min-width:1080px) {
  .nav-link {
    .btn {
      background-color: transparent;

      border: 1px solid $dark-color;
      color: $dark-color;
      &:hover {
        background-color: $dark-color;
        color: $light-color;
      }
    }
  }
  .small {
    top: 35%;
  }
  .tiny {
    top: 35%;
  }
  .box {
    width: 50%;
    height: 100%;
    max-height: 930px;
    position: absolute;
    top: 0;
    z-index: -1;
  }
  nav {
    color: $light-color;
    background-color: transparent;
  }
  .right-grid {
    width: 50%;
    float: left;
  }
  .left-grid {
    width: 50%;
    float: right;
    height: 930px;
    color: $dark-color;
    padding: 0 5rem;
  }
  .small-container-right-align {
    width: 85%;
    max-width: 650px;
    float: right;
  }
}
